<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functiontesttwo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/08d8d9d0-0963-4c0c-931f-03a46e713deb/resourcegroups/Consumsion/providers/Microsoft.Web/sites/FunctionTestTwo</ResourceId>
    <UserName>$FunctionTestTwo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functiontesttwo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>